@model Nethermind.Packager.Web.ViewModels.PlatformViewModel

<table class="table table-striped">
    <thead>
    <tr style="font-weight: bold">
        <td>Release</td>
        <td>Commit</td>
        <td>Arch</td>
        <td>Kind</td>
        <td>Size</td>
        <td>Published</td>
        <td>Signature</td>
        <td>Checksum (MD5)</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var package in Model.Packages)
    {
        <tr class='hover-item'>
            <td><a href="@package.Url">@package.Name</a></td>
            <td><a href="@GetCommitUrl(package.Commit)">@package.Commit</a></td>
            @if(package.Arch == "amd64")
            {
                <td><b>amd64</b></td>
            }
            else 
            {
                <td>arm64</td>
            }
            <td>@package.Kind</td>
            <td>@((package.Size / 1024 / 1024).ToString("F")) MB</td>
            <td>@package.PublishedAt</td>
            <td><a href="@package.SignatureUrl">Signature</a></td>
            <td>@package.Checksum</td>
        </tr>
    }
    </tbody>
</table>

@functions
{
    string GetCommitUrl(string commit)
        => $"{Model.Repository}/tree/{commit}";
}
