@model Nethermind.Packager.Web.ViewModels.ReleaseViewModel

@{
    var linkCounter = 1;
    var tabCounter = 1;
}

<h4>@Model.Title</h4>
<h6>@Model.Description</h6>
<hr/>
<ul class="nav nav-tabs" role="tablist">
    @foreach (var platform in Model.Platforms.OrderBy(p => p.Order))
    {
        <li class="nav-item">
            <a class="nav-link  @(linkCounter == 1 ? "active" : string.Empty)" data-toggle="tab" href="#@GetTabId(platform.Name)">@platform.Name</a>
        </li>
        linkCounter++;
    }
</ul>

<div class="tab-content">
    @foreach (var platform in Model.Platforms.OrderBy(p => p.Order))
    {
        <div id="@GetTabId(platform.Name)" role="tabpanel" class="tab-pane fade @(tabCounter == 1 ? "show active" : string.Empty)">
            @await Html.PartialAsync("_Platform", platform)
        </div>
        tabCounter++;
    }
</div>

@functions
{
    string GetTabId(string platform)
        => $"{Model.Type.ToLowerInvariant()}_{platform.ToLowerInvariant()}";
}
